/* #indexPage */
/* { */
/*   width: 50%; */
/*   height: 50%; */
/*   overflow: auto; */
/*   margin: auto; */
/*   position: absolute; */
/*   top: 0; left: 0; bottom: 0; right: 0; */
/*   /* background-color: #4B0082; */ */
/* } */
/*  */
#resultsPage
{
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /* background-color: #4B0082; */
}


main {
  position: relative;
  top: 100px;
}

#logo_img {
  height: 70px;
  width: 200px;
  display: block;
  margin: auto;
}

#selected_files {
  width: 60%;
  margin: auto;
}

#alert_placeholder {
  width: 40%;
  margin: auto;
}

#submit {
  display: block;
  margin: auto;
}
.btn-file 
{
  position: relative;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

.btn-file input[type=file] 
{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
